<h1>אישור חתימה</h1>
<div class='section'>
  <label for='name'>שם מלא בעברית</label>
  <input type="text" [(ngModel)]="name" name="name" placeholder="שם מלא: פרטי ומשפחה" required>
</div>
<div class='section ltr'>
  <label for='name_en'>שם מלא באנגלית</label>
  <input type="text" [(ngModel)]="name_en" name="name_en" placeholder="שם מלא באנגלית: פרטי ומשפחה" required>
</div>
<div class='section'>
  <label for="phone">מספר טלפון (לאימות בלבד)</label>
  <input type="text" [(ngModel)]="phone" name="phone" placeholder="מספר טלפון" required>  
</div>
<div class='section'>
  <label for="degree">דרגה</label>
  <input type="text" [(ngModel)]="degree" name="degree" placeholder="דרגה בעברית" required>
</div>
<div class='section'>
  <label for="signedletter">האם כבר חתמת על מכתב המתנגד לרפורמה המשפטית בצורתה הנוכחית?<br/>אם כן, איזה? (נדרש כדי להקל על ווידוא של שמות החותמים)</label>
  <select [(ngModel)]="signedletter" name="signedletter">
    <option value=''>-- לא חתמתי על מכתב --</option>
    <option *ngFor="let letter of LETTER_OPTIONS" [value]="letter">{{letter}}</option>
    <option>אחר</option>
  </select>
  <input type="text" [(ngModel)]="otherletter" name="otherletter" placeholder="שם המכתב" *ngIf='signedletter === "אחר"'>
</div>
<div class='section h'>
  <input type="checkbox" [(ngModel)]="approved" required>
  <p>{{legalese}}
    (<a href='https://drive.google.com/file/d/1V9cyaU350eXs4xx8kwMWD0yOs-JF2KPx/view' target="_blank">קישור למכתב</a>)
  </p>
</div>
<div class='section h'>
  <input type="checkbox" [(ngModel)]="approved2" required>
  <p>{{legalese2}}</p>
</div>
<div class='section h'>
  <input type="checkbox" [(ngModel)]="volunteer" required>
  <p>{{volunteer_text}}</p>
</div>
<div class='submit' [class.visible]='ready()'>
  <a class='gmail layout-desktop' [href]='gmailurl' target="_blank">שליחה דרך ג׳ימייל</a>
  <a class='email' [href]='emailurl' target="_blank">שליחה דרך תוכנת מייל</a>
</div>
